@use '../../styles/colors' as *;
@use '../../styles/variables' as *;
.uibtn {
  position: relative;
  padding: 8px 40px;
  font-size: 1rem;
  color: text-light;
  text-decoration: none;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: $font-stack-para;

  &:hover {
    color: text-light;
  }
}
.uibtn-primary {
  background: $bg-primary;
  box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  @extend .uibtn;
  position: relative;
  top: 20%;
  padding: 15px 40px;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;

  box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-family: 'Playfair Display', serif;
  &:hover {
    color: #ffffff;
    box-shadow: 0px 0px 20px rgba(199, 199, 199, 0.7);
    transition: 0.3s ease;
  }
}
.uibtn-outlined {
  @extend .uibtn;
  outline: 2px solid $bg-secondary;
  color: $text-light;
  background-color: transparent;
  color: $text-dark;
  &:active {
    outline: auto;
  }
}
