$bg-light: #ffffff;
$bg-primary: #f5c827;
$bg-secondary: #fb4c47;

$text-light: #ffffff;
$text-lighter: #4b4f51;
$text-dark: #141414;
$text-primary: #035755;
$text-secondary: #fa5652;

$shadow_i: 0px 8px 80px rgba(0, 0, 0, 0.06);
